<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time and Date</title>
    <style>
        body {
            text-align:center;
        }
        #wrapper {
            padding:150px;
            text-align:center;
        }
        .text {
            border:2px solid black;
            width:35%;
            margin-left:300px;
        }
        .time {
            border:3px solid black;
            width:70%;
            margin-left:150px;
            margin-top: 50px;
        }
    </style>
</head>
<body>  
        <div id="wrapper">
            
        
            <div class='text'>
                <h3>The current date and time:</h3>
            </div>
            <div class='time'>
               <h2>{{time}}</h2>
               <h2>{{time1}}</h2>
               <h2>{{time2}}</h2>

               
            </div>
        
        </div>

    
</body>
</html>