<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display User Quotes</title>
</head>
<body>  
    <h2>User's(Get quotes from this particular user and display here) Quotes</h2>

    {%for quote in userQuote%}
        <p>{{quote.quote_text}}</p>
        <p>{{quote.author}}</p>
    {% endfor %}
    <a href='#'>Back</a>
    <a href='/logout'>Logout</a>
</body>
</html>