<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Counter</title>
    <style>
        form {
            display:inline-block
        }
        input[type='submit'] {
            background-color:red;
            width:100px;
            height:25px;
            border-radius:5px;
            color:white;
            font-weight:bold;
            display:inline-block
        }
    </style>
</head>
<body>
        <h1>Counter</h1>

        <p>{{ count }} times</p>
        <form action = '/by2' method = 'POST'>
            <input type="submit" name="add 2" value="add 2">
      
          </form>
          <form action = '/clear' method = 'POST'>
            <input type="submit" name = "reset" value = "reset">
          </form>
</body>
</html>