<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
    <style>
    input {
        display:block;
    }
    </style>
</head>
<body>
        <h1>Edit User {{id}}</h1>   
    
    <form action='/users/update' method='post'>
            {%csrf_token%}
                        <input type='hidden' name='hiddenid' value='{{id}}'>
            First Name : <input type='text' name='first_name' value='{{users.first_name}}'>
            Last Name :  <input type='text' name='last_name' value='{{users.last_name}}'>
            Email :      <input type='email' name='email' value='{{users.email}}'>
                         <input type='submit' name='update' value='Update'>
        </form>
</body>
</html>