<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success Page</title>
    <style>
        body {
            margin-top:50px;
            text-align:center;
        }
        span {
            color:green;
        }
        h4 {
            margin-bottom:50px;
        }
        a {
            padding:10px 60px;
            margin-top:50px;
            height:40px;
            font-weight:bold;
            background-color: red;
            color:white;
            border-radius:15px;
        }
        
    </style>
</head>
<body>
        <h4>You are logged in, <span>{{request.session.name}}</span></h4>

        <a href='/logout'>Logout</a>
        
</body>
</html>